<?xml version="1.0"?>
<!--
  Para mais informações sobre como configurar o aplicativo ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>

    <add name="EcommerceString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\Projeto S2B\Ecommerce\App_Data\Ecommerce.mdf;Integrated Security=True;User Instance=True"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\Projeto S2B\Ecommerce\App_Data\Ecommerce.mdf;Integrated Security=True;User Instance=True"/>
    
  </connectionStrings>
  
	<system.web>
		<authentication mode="Forms" />
  <authorization>
   <allow roles="Admin" />
  </authorization>
  <roleManager enabled="true" />

    <caching>
      <sqlCacheDependency enabled="true" pollTime="1500">
        <databases>
          <add name="Ecommerce" connectionStringName="EcommerceString" />
        </databases>
      </sqlCacheDependency>
    </caching>
    
  <compilation debug="true" targetFramework="4.0"/>
    <pages theme="Ecommerce">

      <controls>
        <add tagPrefix="custom" namespace="tvieira.Controles.Ecommerce"/>
        <add tagPrefix="userControl" tagName="Menu" src="~/Controles/Menu.ascx" />
      </controls>
      
    </pages>

    <anonymousIdentification enabled="true"/>
    <profile defaultProvider="ECommerce_ProfileProvider">
      <providers>
        <add name="ECommerce_ProfileProvider" connectionStringName="LocalSqlServer"  applicationName="/"
          type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="NomeMembro"/>
        <add name="Nome"/>
        <add name="Endereco"/>
        <add name="Cidade"/>
        <add name="Estado"/>
        <add name="Pais"/>
        <add name="Cep"/>
        <add name="Email"/>
        <add name="Carrinho" serializeAs="Binary" type="tvieira.Ecommerce.Carrinho" allowAnonymous="true"/>
      </properties>
    </profile>

    <siteMap defaultProvider="ECommerce_SiteMapProvider" enabled="true">
      <providers>
        <add name="Ecommerce_SiteMapProvider" type="System.Web.XmlSiteMapProvider"
             securityTrimmingEnabled="true" siteMapFile="Web.sitemap"/>
      </providers>
    </siteMap>
    
	</system.web>
</configuration>
