html {
    overflow: scroll;
    
}

.customtab {
	display: -webkit-flex;
	height: 100%;
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212121), color-stop(100%,#37474f));
	background: -webkit-linear-gradient(top, #212121 50%,#f5f5f5 100%);*/ 
}

body {
 	/*background: -webkit-linear-gradient(top, #212121 0%,#37474f   100%);*/
 	background-color: #f5f5f5 ;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.topo-fixo{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.rodape-fixo{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
	margin-bottom: 0;
}
.section {
	padding-top: 25px;
}

html, body {
    max-width: 100%;
    
}


#botao-voltar{
	.z-depth-1;
	.topo-fixo;
	.btn; 
	.waves-effect; 
	.waves-light; 
	.red; 
	.darken-3;
}